@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'asap';
    src: url('fonts/Asap/Asap-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'asap';
    src: url('fonts/Asap/Asap-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'asap';
    src: url('fonts/Asap/Asap-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-Bold.ttf');
    font-weight: 700;
}
/*html {
    scroll-behavior: smooth;
}*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100vh;
    background: linear-gradient( to bottom,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('images/header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 25%;
}
.nav-fix {
    height: 89px;
}
nav {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    transition: color 300ms ease, transform 300ms ease;
}
.header-brand {
    text-decoration: none;
    color: white;
    font-family: 'asap';
    font-size: 45px;
    font-weight: 700;
}
.header-lists {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 10px 0;
}
.header-lists a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'asap';
    font-size: 20px;
    font-weight: 400;
    border: 0px solid rgb(255, 85, 76);
    transition: all 800ms;
}
.line {
    transform: rotateY(90deg);
    width: 100%;
    height: 2px;
    border-bottom: 2px solid rgb(255, 85, 76);
    transition: all 200ms;
}
.header-lists-item:hover .line {
    transform: rotateY(0deg);
}
.header-lists-special a {
    background: transparent;
    border: 2px solid #FC2C21;
    padding: 11px 18px;
    border-radius: 24.5px;
    transition: background 333ms ease-out ;
}
.header-lists-special a:hover,
.header-lists-special a:active {
    background: #FC2C21;
    color: white;
    cursor: pointer;
}
.scroll {
    transform: translateY(-100%);
}

.onscroll {
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    color:black;
    padding: 0;
    z-index: 10;
    box-shadow: 0 0 20px 1px #00000021;
    transform: translateY(-100%);
}
.onscroll a {
    color: black;
    transition: color 300ms ease, background 300ms ease;
}
.lists-scroll {
    margin-right: 60px;
}
.brand-scroll {
    margin-left: 60px;
}
.scroll1 {
    transform: translateY(-100%);
}    
.header-slogan {
    padding: 40px 0;
    background: rgba(255, 255, 255, 0.514);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9%;
    left: 7%;
}
.slogan-title {
    color:black;
    margin:0;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 60px;
}
.slogan-text {
    text-align: left;
    color: rgb(71, 71, 71);
    margin: 5px 0px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 19px;
}
.discount {
    color: #CC1107;
    font-size: 21px;
}
.slogan-button {
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-size: 21px;
    color: white;
    margin-top: 15px;
    background: #FF554C;
    transition: background 333ms ease-out;
    padding: 13px 20px;
    border-radius: 24.5px;
}
.slogan-button:hover,
.slogan-button:active {
    background: #D40D03;
}
#features {
    transform: translateY(-100px);
}
.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5%;
    padding-bottom:0;
    padding-top: 3%;
}
.features-container-head {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.features-container-title {
    font-family: 'asap';
    font-weight: 600;
    font-size: 30px;
    margin:0;
    margin-bottom: 15px;
    align-self: center;
}
.features-container-text {
    font-family: 'raleway';
    font-weight: 500;
    color: grey;
    font-size: 18px;
    margin: 5px 0;
    align-self: center;
}
.features-container-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.features-1 {
    margin-bottom: 3%;
}
.feature {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 20px 1px #00000016;
    transition: box-shadow 250ms ease-out;
}
.feature:hover,
.feature:active {
    box-shadow: 0 8px 20px 6px rgba(0, 0, 0, 0.25);
}
.feature-title {
    font-family: 'asap';
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    margin: 15px 0;
}
.feature-icon {
    width: 70px;
    height: 70px;
    background: #ffe7e5;
    border-radius: 50%;
    padding: 25px;
}
.feature-svg {
    fill: #FC2C21;
}
.feature-text  {
    font-family: 'raleway';
    font-weight: 500;
    color: grey;
    font-size: 15px;
    margin: 5px 0;
}
#offer {
    transform: translateY(-0px);
}
.offer-container {
    height: 60vh;
    margin-top: 100px;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.205),rgba(0, 0, 0, 0.212)) ,url('images/iphone-discount.jpg');
    background-attachment: fixed;
    background-size: 100% 900px;
    background-position: left 0 top 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.offer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}
.offer-title {
    color: white;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 40px;
    margin: 8px;
}
.price-line {
    text-decoration: line-through #D40D03;
}
.offer-price {
    color: #FC2C21;
}
.offer-button {
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #FC2C21;
    margin-top: 15px;
    background: white;
    transition: background 333ms ease-out ,color 333ms ease-out;
    padding: 13px 28px;
    border-radius: 24.5px;
}
.offer-button:hover,
.offer-button:active {
    background: #FC2C21;
    color: white;
}
#products {
    transform: translateY(-60px)
}
.products {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 0 30px;
}
.products-header {
    grid-column: span 3;
    justify-self: center;
    padding: 50px;
    text-align: center;
}
.products-title {
    font-family: 'asap';
    font-weight: 600;
    font-size: 30px;
}
.iphonex-container{
    background: url('images/iphonex.jpg');
}
.laptop-container {
    background: url('images/laptop.jpg');
}
.mac-container {
    background: url('images/mac.jpg');
}
.s10-container {
    background: url('images/s10.jpg');
}
.lg-container {
    background: url('images/tv.jpg');
}
.watch-container {
    background: url('images/watch.jpg');
}
.ipad-container {
    background: url('images/ipad.jpg');
}
.ps4-container {
    background: url('images/ps4.jpg');
}
.macbook-container {
    background: url('images/macbook.jpg');
}
.product-container {
    background-size: cover;
    background-position: center;
    height: 300px;
}
.product {
    opacity:0;
    transition: opacity 200ms ease-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

}
.product:hover,
.product:active {
    opacity: 1;
}
.product h1 {
    color: white;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}
.product-title{
    margin-top: 0;
}
.product-button {
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #ff5047;
    margin: 0;
    background: white;
    transition: background 333ms ease-out ,color 333ms ease-out;
    padding: 13px 28px;
    border-radius: 24.5px; 
}
.product-button:hover,
.product-button:active {
    background: #ff5047;
    color: white;
}
.browse-product {
    justify-self: center; 
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: white;
    margin-top: 20px;
    background: #ff5047;
    transition: background 333ms ease-out ,color 333ms ease-out;
    padding: 13px 28px;
    border: 1px solid #ff5047;
    grid-column: span 3;
}
.browse-product:hover,
.browse-product:active {
    background: white;
    color: #ff5047;
}
.testimonials-container {
    height: 100vh;
    background: rgb(231, 231, 231);
    margin-bottom: 50px;
}
.testimonials-header {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.testimonial {
    background: white;
    width: 25%;
    padding: 45px 20px;
    border-radius: 20px;
}
.testimonial-flex {
    padding-right: 60px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.natalie-image {
    background: url('images/natalie.jpg');
}
.john-image {
    background: url('images/john.jpg');
}
.alex-image {
    background: url('images/alex.jpg');
}
.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.testimonial-info {
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 500;
}
.name {
    color: #A70800;
    font-weight: 700;
    font-size: 14px
}
.testimonial-comment {
    padding-left: 50px;
    border-left: 5px solid grey;
    margin-left: 20px;
    width: 60%;
}
.credit {
    font-family: 'Raleway';
    font-size: 15px;
    color: grey;
    line-height: 30px;
}
.subscribe-container {
    text-align: center;
    margin-bottom: 50px;
}
form {
    margin-top: 25px;
}
[type] {
    border-radius: 25px;
}
[type="email"] {
    width: 30%;
    height: 47px;
    vertical-align: middle;
    border: 1px solid rgb(187, 187, 187);
    font-family: 'Raleway';
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
}
[type="submit"] {
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #ff5047;
    background: white;
    transition: background 333ms ease-out ,color 333ms ease-out;
    padding: 10px 20px;
    border: 1px solid #ff5047;
    vertical-align: middle;
}
[type="submit"]:hover,
[type="submit"]:active {
    background: #ff5047;
    color: white;
    cursor: pointer;
}
footer {
    background: #ff5047;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer-brand {
    display: flex;
    flex-direction: column;
}
.footer-brand p {
    margin-top: 30px;
}
.footer-alaa {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    background: white;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 15px;
    transition: background 333ms ease-out ,color 333ms ease-out;
}
.footer-alaa:hover,
.footer-alaa:active {
    background: black;
    color: white;
}
footer h1{
    margin-top: 0;
    color: white;
    font-family: 'asap';
    font-weight: 600;
    font-size: 40px;
}
.contact-title {
    margin:0;
}
footer p {
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 15px;
    margin: 5px;
}
.footer-follow {
    margin-right: 140px;
    display: flex;
    flex-direction: column;
}
.follow-links {
    display: flex;
    justify-content: space-between;
}
.follow-svg {
    background: white;
    border-radius: 50%;
    padding: 5px;
    transition: background 333ms ease-out, fill 333ms ease-out;
}
.follow-svg:hover,
.follow-svg:active {
    background: black;
    fill: white;
    cursor:pointer;
}
